.ListaDias{
    border: #343a40 2px solid;
    border-radius: 10px;
    background: #343a40;
    color: white;

}
.ListaDias li{
    padding: 2px;
    color: aquamarine;
}

.ListaDias h5{
    padding: 10px;
}

.ListaDias button{
    transform: scale(0.7);
}

.ListaDias .row{
    justify-items: center;

}
.ListaDias .Compra{
    font-size: 20px;
}

@media (max-width: 400px) {
    .ListaDias .Compra{
        font-size: 15px;
        width: 80px;
    }
}