.Menu {
    border: #343a40 1px solid;
    border-radius: 10px;
    color: white;
    background-color: #343a40;
}

.Menu h4{
    color: aquamarine;
}



@media (max-width: 400px){
    .lista-menu{
        font-size: 12px;
    }
    .Menu h4{
        margin: auto;
        font-size: 18px;
    }
}