.NomInfant h2{
    font-size: 25px;
    border-bottom: #343a40 1px solid;
}

.CursDia{
    border: none;
    background-color: transparent;

}
.CursDia .card-header{
    background-color: transparent;
    border-bottom: none;
}

.TitleCursDia{
    font-size: 25px;
    display: flex;
    position: relative;
    border-bottom: #343a40 1px solid;
}

.arrowCurs{
    display: flex;
    margin: auto;
    align-items: end;
}